
header .logo{
    max-width: 200px;
    display:block;
    margin:0 auto;
}
section.userinterface{
    padding:30px;
}

.buttonContainer{
    display:flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding:20px;
}

.inputContainer{
    display:flex;
    justify-content:center;
    padding:20px
}